# ==========================================
# PostgreSQL Configuration
# ==========================================
POSTGRES_DB=eve_bi
POSTGRES_USER=eve_user
POSTGRES_PASSWORD=eve_password
POSTGRES_PORT=5432

# ==========================================
# RabbitMQ Configuration
# ==========================================
RABBITMQ_DEFAULT_USER=eve_user
RABBITMQ_DEFAULT_PASS=eve_password
RABBITMQ_AMQP_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
